@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
/* Colors */
/* Fonts */
* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", Tahoma, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #674baf url(./images/bg-mobile.svg) no-repeat center top;
  background-size: contain;
  color: white;
}

header, main, footer {
  width: 80%;
  margin: 0 auto;
}

header {
  margin: 2rem auto 3.5rem;
}
header img {
  width: 7.7rem;
}

main {
  text-align: center;
}
main img {
  width: 100%;
}
main h1 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.5rem;
  margin-top: 3.5rem;
}
main p {
  line-height: 1.5;
}
main button {
  margin-top: 0.5rem;
  padding: 0.75rem 4.75rem;
  color: #674baf;
  background-color: white;
  border: none;
  border-radius: 4rem;
  box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

footer {
  margin-top: 4rem;
}
footer .social-media {
  margin: 0 auto;
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .social-media__icon {
  color: inherit;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-media .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 0.8125rem;
}
footer .social-media .icon__name {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.attribution {
  margin: 2rem auto;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #011b84;
}

@media screen and (min-width: 768px) {
  header, main, footer {
    max-width: 650px;
  }

  main h1 {
    font-size: 3rem;
  }
  main p {
    font-size: 1.125rem;
  }
  main button {
    font-size: 1rem;
  }

  footer .social-media {
    width: 9rem;
  }
  footer .social-media__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  footer .social-media .icon {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-position: left top;
    background-size: auto;
  }

  header, main, footer {
    width: 90%;
    max-width: 1300px;
  }

  header {
    margin-bottom: 6.5rem;
  }
  header img {
    width: 12.7rem;
  }

  main {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  main img {
    width: 55%;
  }
  main .description {
    width: 40%;
  }
  main h1 {
    margin: 2.5rem 0 0;
    font-size: 2.5rem;
  }
  main button {
    padding: 1rem 4.75rem;
    font-size: 1.125rem;
  }
  main button:hover {
    background-color: #e882e8;
    color: white;
  }

  footer {
    margin-top: 1rem;
  }
  footer .social-media {
    margin: 0 0 0 auto;
  }
  footer .social-media__icon:hover {
    border-color: #e882e8;
    color: #e882e8;
  }
  footer .attribution {
    text-align: right;
    margin: 0.6875rem 0 1rem;
  }
  footer .attribution a:hover {
    color: #e882e8;
  }
}

/*# sourceMappingURL=style.css.map */
