/* Colors */

// Primary
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);
$white: hsl(0, 50%, 100%);

/* Fonts */
$body-font: 'Open Sans', Tahoma, sans-serif;
$heading-font: 'Poppins', Arial, sans-serif;